
.header-text {
    text-align: center !important;
    float: none;
}
.model-container {
    height: 100px;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select:none;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
}

.model-img {
        width: 328px;
        height: 193px;
        margin-top: -11px;
        margin-left: -15px;
}

.model-conatiner ul{
        height: 16rem;
        overflow-y: auto;
            display: flex;
}
.model-item {
        height: 12rem;
        
        display: inline;
        float: left;
        padding: 10px;
        margin: 34px
}

.model-conatiner .carousel-control-prev,
.model-conatiner .carousel-control-next
{
    max-height: 300px;
    width:4%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon
{
    background: #ff0000 !important;
}
.popup3d{
   height: 335px;
   border: 1px solid rgb(204, 204, 204);
   padding: 10px;
   -webkit-tap-highlight-color: transparent;
   -webkit-user-select: none;
   user-select:none;
   cursor: default;
   background-color: rgba(0, 0, 0, 0);
}
.row.Models-pop
{
    margin-left: 0px;
    margin-right: 0px;
}

/* a-scene.fullscreen .a-canvas {
     width: auto; 
     height: auto; 
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.a-scene
{
display: block;
position: relative;
height: 70vh;
width: 100%;
} */

.a-body a-scene.fullscreen .a-canvas {
    position: relative !important;
}
