body {
    background-color: chocolate;
    padding: 1rem;
}
.headerStyle{
    padding: 1rem;
    border-bottom: solid 1px;
}

.headerStyle h2,
.headerStyle h5 {
    position: relative !important;
    text-align: center !important;
}

.headerStyle span {
    text-align: right;
}

.menuStyle {
    padding: 1rem;
}

.containerStyle {
    padding: 1rem;
    color: coral;
}

.containerBody {
    height:28rem;
    overflow-y: scroll;
}

.menubar .list-group-item,
.containerStyle .containerBody {
    background-color: khaki;
}